

.loginbox{
	
width:200px;
height:400px;
padding:40px;
margin:10px;

background-image: url('5.jpg');
border:3px solid #ff944d;
position:absolute;
	top:75px;	
	left:550px;
	animation-name:example;
	animation-duration :2s;
}
@keyframes example{
	from { left:0px; }
	to { left:550px; }
}

  div{
  color:#ff0066;
  
}
 

form{
	text-align:center;
    color: #cc0000;
}
.loginbox input{
   width:100%;
   font-size: 20px;
   
}
.hx{
	text-align: center;
	font-size: 40px;
	color:#662200;
	background-color: #e6e6e6;
	opacity: 0.9;
}
.size{
	font-size:32px; 
}

.loginbox input[type="name"],input[type="password"]{
	
	color:white ;
	background: transparent;
	height:40px;
}
.loginbox p{
	color :#661a00;
}
.loginbox button{
	background-color: #666600;
	color:#00001a;
	width:60%;
	font-size:15px;
}

img{
	float: top;
}

input{
	width: 5%;
}

.orderbutton{
	background-color: #003399;
}

.imageset{
	right:10px;
}

.forgotbox{
	margin:10px;
	padding:5px;
	border: 1px solid #e62e00;
	width:200px;
	top:75px;
    left:400px;
	position: absolute;
}
.forbtn{
	background-color: #666600;
}